
body{
	background: #ACEDFA;
	padding: 0;
	margin: 0;
}

.sol{
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 5%;
	left: 5%;
}

.pasto{
	width: 100%;
	height: 15%;
	background: green;
	position: absolute;
	bottom: 0;
	left: 0;
}

.casita{
	width: 35%;
	height: 80%;
	position: absolute;
	z-index: 1;
	bottom: 10%;
	right: 10%;
}


#techo{
	border-bottom: 180px solid black;
	border-left: 137px solid transparent;
	border-right: 137px solid transparent;
	height: 0;
	width: 180px;
	position: absolute;
	top: 37px;
}

/*chimenea*/
.chimenea{
	width: 17%;
	height: 80px;
	background: #F12984;
	position: absolute;
	top: 75px;
	right: 1%;
}

/*3 circulos de humo*/
.circ{
	width: 25px;
	height: 30px;
	background: grey;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 20px;
	position: absolute;
}

#c-uno{
	top: 20px;
	right: -5px;
}

#c-dos{
	top: -10px;
	right: -40px;
}

#c-tres{
	top: -50px;
	right: -70px;
}

#fachada{
	width: 100%;
	height: 60%;
	background: #58440A;
	position: absolute;
	bottom: 0;
}

#puerta{
	width: 35%;
	height: 70%;
	background: grey;
	position: absolute;
	bottom: 0;
	left: 17%;
}

#ventana{
	width: 25%;
	height: 30%;
	background: pink;
	position: absolute;
	top: 40%;
	right: 10%;
}

.corazon{
    position: relative;
    width: 100px;
    height: 90px;
}

.corazon:before,
.corazon:after {
    position: absolute;
    content: "";
    left: 80px;
    top: 50px;
    width: 40px;
    height: 60px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.corazon:after {
    left: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}
 