
body{
	background: #ACEDFA;
	padding: 0;
	margin: 0;
}

.sol{
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	top: 5%;
	left: 5%;
}

.pasto{
	width: 100%;
	height: 15%;
	background: green;
	position: absolute;
	bottom: 0;
	left: 0;
}

.casita{
	width: 35%;
	height: 80%;
	position: absolute;
	z-index: 1;
	bottom: 10%;
	right: 10%;
}


#techo{
	border-bottom: 180px solid black;
	border-left: 137px solid transparent;
	border-right: 137px solid transparent;
	height: 0;
	width: 180px;
	position: absolute;
	top: 37px;
}

/*chimenea*/
.chimenea{
	width: 17%;
	height: 80px;
	background: #F12984;
	position: absolute;
	top: 75px;
	right: 1%;


	/*3 circulos de humo*/
}

#fachada{
	width: 100%;
	height: 60%;
	background: #58440A;
	position: absolute;
	bottom: 0;

}

